 #h1{
    color: white;
    background-color: green;
}
.a{
    color: white;
    background-color: black;
}
#h2{
    color: black;
    background-color: white;
}
.para2{
     color: white;
    background-color: black;
}


